@using AssetManagement.Models
@model AssetViewModels

@{
    ViewBag.Title = "About";
}

<style>
    #installationForm .tab-content {
        margin-top: 20px;
    }

    .nav-pills > li > a {
        background: #F5F5F5;
        border: 1px solid #CCC;
        padding: 16px;
        margin: 0 2px 0 5px;
        color: #27ae60;
    }

    .nav-pills > li > a {
        font-size: 17px;
        font-weight: bold;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        box-shadow: 5px 5px 8px #888;
        background-color: #27ae60 !important;
    }

    .tabDivContent {
        padding: 9px 0rem;
        margin-left: -8px;
    }

    .buttonLi {
        padding: 10px;
        color: #ffffff;
        background-color: #27ae60;
        font-size: 16px;
        border-radius: 5px;
    }

    .pager li > a, .pager li > span, .pager li > a:hover, .pager li > span:hover {
        display: inline-block;
        padding: 10px;
        background-color: #27ae60;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
    }

    .uploadBtnStyle {
        color: #27ae60;
        cursor: pointer;
    }
</style>


<script type="text/javascript">

    $(function () {

        if ("@ViewBag.login" != 'login') {
            $('#loginLink').html("Log out")
            $("#loginLink").attr("href", "/LoginReg/Logout")
        }

    })

</script>

<form id="installationForm" class="form-horizontal" method="post" accept-charset="UTF-8" action="/AssetAccount/SaveAssetInformtaion">
    <div class="tabDivContent">
        <ul class="nav nav-pills">
            <li class="active"><a href="#locationTab" data-toggle="tab">1. Location Details</a></li> 
            <li><a href="#managementInfoTab" data-toggle="tab">2. Management Information</a></li>       
            <li><a href="#assetInfoTab" data-toggle="tab">3. Instituion Information</a></li>
            <li><a href="#propertyInfoTab" data-toggle="tab">4. Property Information</a></li>        
            <li><a href="#advisoryInfoTab" data-toggle="tab">5. District Information</a></li>
        </ul>

    </div>

    <div class="tab-content">

        <!-- Location tab -->
        <div class="tab-pane active" id="locationTab">

            <div class="form-group">
                @Html.LabelFor(m => m.state, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.DropDownListFor(m => m.selectedState, Model.state, new { @class = "form-control" })
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.division, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.DropDownListFor(m => m.selectedDivision, Model.division, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MPConstituency, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.DropDownListFor(m => m.selectedMPConstituency, Model.MPConstituency, new { @class = "form-control" })
                </div>
            </div>



            <div id="showMPFlow">
                <div class="form-group">
                    @Html.LabelFor(m => m.district, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.DropDownListFor(m => m.selectedDistrict, Model.district, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MLAConstituency, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                     @Html.DropDownListFor(m => m.selectedMLAConstituency, Model.MLAConstituency, new { @class = "form-control" })
                </div>
            </div>

            <div id="showMLAFlow">
                <div class="form-group">
                    @Html.LabelFor(m => m.taluk, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.DropDownListFor(m => m.selectedTaluk, Model.taluk, new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-3 control-label">Select</label>
                    <div class="col-xs-8">
                        <div class="col-xs-4">
                            @*@Html.RadioButton("districtType", "urban", Model.urban, new { @name = "districtType", @id = "rdBtnUrban" })*@
                            @Html.RadioButtonFor(m => m.urban, "urban", new { @name = "districtType", @id = "rdBtnUrban" })
                            @Html.LabelFor(m => m.urban)
                            
                        </div> 
                        <div class="col-xs-4">
                            @*@Html.RadioButton("districtType", "rural", Model.rural, new { @name = "districtType", @id = "rdBtnRural" })*@
                            @Html.RadioButtonFor(m => m.rural, "rural", new { @name = "districtType", @id = "rdBtnRural" })
                            @Html.LabelFor(m => m.rural)

                        </div>,
                    </div>
                </div>

                <div id="showUrbanFlow" style="display:none">
                    <div class="form-group">
                        @Html.LabelFor(m => m.municipalWardNo, new { @class = "col-xs-3 control-label" })
                        <div class="col-xs-5">
                            @Html.DropDownListFor(m => m.selectedMunicipalWardNo, Model.municipalWardNo, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div id="showRuralFlow" style="display:none">

                    <div class="form-group">
                        @Html.LabelFor(m => m.talukPanchayat, new { @class = "col-xs-3 control-label" })
                        <div class="col-xs-5">
                            @Html.DropDownListFor(m => m.selectedTalukPanchayat, Model.talukPanchayat, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.gramaPamchayat, new { @class = "col-xs-3 control-label" })
                        <div class="col-xs-5">
                            @Html.DropDownListFor(m => m.selectedGramaPanchayat, Model.gramaPamchayat, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.village, new { @class = "col-xs-3 control-label" })
                        <div class="col-xs-5">
                            @Html.DropDownListFor(m => m.selectedVillage, Model.village, new { @class = "form-control" })
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.latitude, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.latitude, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.longitude, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.longitude, new { @class = "form-control" })
                    </div>
                </div>

            </div>

        </div>


        <!-- Management info tab-->
        <div class="tab-pane" id="managementInfoTab">
            <div class="form-group">
                @Html.LabelFor(m => m.managementType, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.DropDownListFor(m => m.selectedManagementType, Model.managementType, new { @class = "form-control" })
                </div>
            </div>

            <div id="managementCommitteDetails">

                <div class="form-group">
                    @Html.LabelFor(m => m.managementSocietyName, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.managementSocietyName, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.managementApprovalNumber, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.managementApprovalNumber, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.managementRegNumber, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.managementRegNumber, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.managementRegDate, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">

                        <div class="input-group input-append date" id="pickManagementAdvisoryRegDate">
                            @Html.TextBoxFor(m => m.managementRegDate, new { @class = "form-control" })
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.managementExpDate, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">

                        <div class="input-group input-append date" id="pickManagementAdvisoryExpDate">
                            @Html.TextBoxFor(m => m.managementExpDate, new { @class = "form-control" })
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div id="managementDetailsGrid"></div>
            </div>


        </div>

        <!-- Assets tab -->
        <div class="tab-pane" id="assetInfoTab">
           
             <div class="form-group">
                @Html.LabelFor(m => m.institutionName, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.institutionName, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.assetName, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.assetName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.address, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.address, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.assetType, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.DropDownListFor(m => m.selectedAssetType, Model.assetType, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.assetStatus, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.DropDownListFor(m => m.selectedAssetStatus, Model.assetStatus, new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                    <i class="fa fa-upload fa-2x uploadBtnStyle" id="assetStatusUpload"></i>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.gnNumber, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.gnNumber, new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                    <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.gnDate, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">

                    <div class="input-group input-append date" id="pickGnDate">
                        @Html.TextBoxFor(m => m.gnDate, new { @class = "form-control" })
                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.crNumber, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.crNumber, new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                    <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.crDate, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">

                    <div class="input-group input-append date" id="pickCrDate">
                        @Html.TextBoxFor(m => m.crDate, new { @class = "form-control" })
                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.courtJudgementOrder, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.courtJudgementOrder, new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                    <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.waqfID, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.waqfID, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.wamsiCode, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.wamsiCode, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.institutionType, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.DropDownListFor(m => m.selectedInstitutionType, Model.institutionType, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.classificationType, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.DropDownListFor(m => m.selectedClassificationType, Model.classificationType, new { @class = "form-control" })
                </div>
            </div>

        </div>

        <!--Property info tab-->
        <div class="tab-pane" id="propertyInfoTab">
            <fieldset>
                <legend>Property Details</legend>

                <div class="form-group">
                    @Html.LabelFor(m => m.surveyNo, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.surveyNo, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-2">
                        <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.khathaNo, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.khathaNo, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-2">
                        <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.municipalNo, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.municipalNo, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-2">
                        <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                    </div>

                </div>

            </fieldset>

            <fieldset>
                <legend>Boundaries</legend>

                <div class="form-group">
                    @Html.LabelFor(m => m.north, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.north, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-2">
                        <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.east, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.east, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-2">
                        <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.south, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.south, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-2">
                        <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.west, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.west, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-2">
                        <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                    </div>
                </div>

            </fieldset>


            <fieldset>
                <legend>Extent of Land in Acre / S.Ft / Sq. Yard</legend>

                <div class="form-group">
                    @Html.LabelFor(m => m.northToSouth, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.northToSouth, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.eastToWest, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.eastToWest, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.total, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.total, new { @class = "form-control" })
                    </div>
                </div>
            </fieldset>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.estimatedValue, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.estimatedValue, new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                    <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.propertyID, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.propertyID, new { @class = "form-control" })
                </div>
            </div>

            <fieldset>
                <legend>Litigations</legend>

                <div class="form-group">
                    @Html.LabelFor(m => m.litigationManagement, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.litigationManagement, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-2">
                        <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.litigationAsset, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.litigationAsset, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-2">
                        <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                    </div>
                </div>
            </fieldset>
            
            <fieldset>
                <legend></legend>
                <div class="form-group">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-5 control-label">
                        <label class="control-label">Geo Stamped Images </label>
                    </div>
                    <div class="col-xs-2">
                        <i class="fa fa-upload fa-2x uploadBtnStyle"></i>
                    </div>
                </div>
            </fieldset>

            

        </div>        


        <!-- Advisory details tab-->
        <div class="tab-pane" id="advisoryInfoTab">

            <div class="form-group">
                @Html.LabelFor(m => m.advisorySocietyName, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.advisorySocietyName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.advisoryApprovalNumber, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.advisoryApprovalNumber, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.advisoryRegNumber, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.advisoryRegNumber, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.advisoryRegDate, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">

                    <div class="input-group input-append date" id="pickAdvisoryRegDate">
                        @Html.TextBoxFor(m => m.advisoryRegDate, new { @class = "form-control" })
                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.advisoryExpDate, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">

                    <div class="input-group input-append date" id="pickAdvisoryExpDate">
                        @Html.TextBoxFor(m => m.advisoryExpDate, new { @class = "form-control" })
                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div id="advisoryDetailsGrid"></div>
            </div>

        </div>



        <!-- Previous/Next buttons -->
        <ul class="pager wizard">
            <li class="previous"><a href="javascript: void(0);">Previous</a></li>
            <li class="next"><a href="javascript: void(0);">Next</a></li>
        </ul>
    </div>
</form>

<script>

    $(function () {

        advisoryDetailsGrid();
        managementDetailsGrid();

        function managementDetailsGrid() {

            var clients='';
            if("@ViewBag.assetFlow" != "AddAsset"){

                 clients = @Html.Raw(ViewBag.managementDetails);              
            }
            else{
                clients = [];
            }


            var desgination = [
                { Name: "President", Id: 0 },
                { Name: "V President", Id: 1 },
                { Name: "Secretary", Id: 2 },
                { Name: "Treasurer", Id: 3 },
                { Name: "Memember", Id: 4 }
            ];

            var appointmentType = [
                { Name: "Selection", Id: 0 },
                { Name: "Election", Id: 1 },
                { Name: "Herediatry", Id: 2 },
                { Name: "Custom", Id: 3 },
                { Name: "Board", Id: 4 }
            ];


            $("#managementDetailsGrid").jsGrid({
                width: "100%",
                height: "400px",
                data: clients,
                inserting: true,
                editing: true,
                sorting: false,
                paging: true,
                pageSize: 15,
                pageButtonCount: 5,
                deleteConfirm: "Do you really want to delete the information?",
                controller: {
                    insertItem: function (item) {
                        console.log(item);
                        $.ajax({
                            url: "/AssetAccount/AddManagementDetailsToModel",
                            data: { "id": item["ID"], "desgination": item["Designation"], "name": item["Name"], "mobile": item["Mobile No"], "email": item["E-mail Id"], "appointmentType": item["Appointment Type"], "appointmentDate": item["Appointment Date"], "tenure": item["Tenure"] },
                            dataType: "json"
                        });
                    },
                    updateItem: function (item) {
                        console.log(item);
                        $.ajax({
                            url: "/AssetAccount/EditManagementDetailsToModel",
                            data: { "id": item["ID"], "desgination": item["Designation"], "name": item["Name"], "mobile": item["Mobile No"], "email": item["E-mail Id"], "appointmentType": item["Appointment Type"], "appointmentDate": item["Appointment Date"], "tenure": item["Tenure"] },
                            dataType: "json"
                        });
                    },
                    deleteItem: function (item) {
                        console.log(item);
                        $.ajax({
                            url: "/AssetAccount/DeleteManagementDetailsToModel",
                            data: { "id": item["ID"], "desgination": item["Designation"], "name": item["Name"], "mobile": item["Mobile No"], "email": item["E-mail Id"], "appointmentType": item["Appointment Type"], "appointmentDate": item["Appointment Date"], "tenure": item["Tenure"] },
                            dataType: "json"
                        });
                    },

                },
                fields: [
                    { type: "control" },
                    { name: "ID", type: "text", width: 50 },
                    { name: "Designation", type: "select", items: desgination, valueField: "Name", textField: "Name", width: 150 },
                    { name: "Name", type: "text", width: 150 },
                    { name: "Mobile No", type: "number", width: 150 },
                    { name: "E-mail Id", type: "text", width: 200 },
                    { name: "Appointment Type", type: "select", items: appointmentType, valueField: "Name", textField: "Name", width: 150 },
                    { name: "Appointment Date", type: "text", width: 200 },
                    { name: "Tenure", type: "text", width: 200 }

                ]
            });
        }

        function advisoryDetailsGrid() {

            var clients='';
            if("@ViewBag.assetFlow" != "AddAsset"){
                
               clients = @Html.Raw(ViewBag.advisoryDetails);              
            }
            else{
                clients = [];
            }


            var desgination = [
                { Name: "President", Id: 0 },
                { Name: "V President", Id: 1 },
                { Name: "Secretary", Id: 2 },
                { Name: "Treasurer", Id: 3 },
                { Name: "Memember", Id: 4 }
            ];

            var appointmentType = [
                { Name: "Selection", Id: 0 },
                { Name: "Election", Id: 1 },
                { Name: "Herediatry", Id: 2 },
                { Name: "Custom", Id: 3 },
                { Name: "Board", Id: 4 }
            ];


            $("#advisoryDetailsGrid").jsGrid({
                width: "100%",
                height: "400px",
                data: clients,
                inserting: true,
                editing: true,
                sorting: false,
                paging: true,
                pageSize: 15,
                pageButtonCount: 5,
                deleteConfirm: "Do you really want to delete the information?",
                controller: {
                    insertItem: function (item) {
                        console.log(item);
                        $.ajax({
                            url: "/AssetAccount/AddAdvisoryDetailsToModel",
                            data: { "id": item["ID"], "desgination": item["Designation"], "name": item["Name"], "mobile": item["Mobile No"], "email": item["E-mail Id"], "appointmentType": item["Appointment Type"], "appointmentDate": item["Appointment Date"], "tenure": item["Tenure"] },
                            dataType: "json"
                        });
                    },
                    updateItem: function (item) {
                        console.log(item);
                        $.ajax({
                            url: "/AssetAccount/EditAdvisoryDetailsToModel",
                            data: { "id": item["ID"], "desgination": item["Designation"], "name": item["Name"], "mobile": item["Mobile No"], "email": item["E-mail Id"], "appointmentType": item["Appointment Type"], "appointmentDate": item["Appointment Date"], "tenure": item["Tenure"] },
                            dataType: "json"
                        });
                    },
                    deleteItem: function (item) {
                        console.log(item);
                        $.ajax({
                            url: "/AssetAccount/DeleteAdvisoryDetailsToModel",
                            data: { "id": item["ID"], "desgination": item["Designation"], "name": item["Name"], "mobile": item["Mobile No"], "email": item["E-mail Id"], "appointmentType": item["Appointment Type"], "appointmentDate": item["Appointment Date"], "tenure": item["Tenure"] },
                            dataType: "json"
                        });
                    },

                },
                fields: [
                    { type: "control" },
                    { name: "ID", type: "text", width: 50 },
                    { name: "Designation", type: "select", items: desgination, valueField: "Name", textField: "Name", width: 150 },
                    { name: "Name", type: "text", width: 150 },
                    { name: "Mobile No", type: "number", width: 150 },
                    { name: "E-mail Id", type: "text", width: 200 },
                    { name: "Appointment Type", type: "select", items: appointmentType, valueField: "Name", textField: "Name", width: 150 },
                    { name: "Appointment Date", type: "text", width: 200 },
                    { name: "Tenure", type: "text", width: 200 }

                ]
            });
        }

    })

</script>